*{
    font-family: 'Arial';
}

header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
ul{
    display: flex;
}

ul li {
    margin-right: 15px;
    list-style: none;
}

a{
    text-decoration: none;
    color: #333;
    border-bottom:  1px solid #333;
}

.container{
    padding: 3%;
    border: 1px solid #333;
    margin: 0 auto;
    width: 90%;
    text-align: start;

}

footer{
    margin-top: 15px;
    text-align: center;
}