*{
    font-family: 'Arial';
    margin: 0px;
    padding: 0px;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
}
ul{
    display: flex;
}

ul li {
    margin-right: 15px;
    list-style: none;
}

a{
    text-decoration: none;
    color: #333;
    border-bottom:  1px solid #333;
}

.container{
    padding: 3%;
    border: 1px solid #333;
    margin: 0 auto;
    width: 90%;
    text-align: start;

}

footer{
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #333;
    color: white;
    height: 60px;
    width: 100%;
    margin-top: 15px;
}